@model Gradnik_Web.Areas.ModulDirektor.Models.ProjektiAddVM
<link href="~/Scripts/multistep.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm("Dodaj","Projekti", FormMethod.Post, new { @id= "msform" }))
        {
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Projekat informacije</li>
                <li>Nadleznosti</li>
                <li>Gradiliste</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Detalji projekta</h2>
                <h3 class="fs-subtitle">Unesite osnovne informacije o projektu</h3>

                <h4 class="fs-subtitle">Naziv</h4>
                @Html.EditorFor(model => model.Projekat.Naziv)
                <h4 class="fs-subtitle">Datum Ugovora</h4>
                @Html.EditorFor(model => model.Projekat.DatumUgovora)
                <h4 class="fs-subtitle">Pocetak Projekta</h4>
                @Html.EditorFor(model => model.Projekat.PocetakProjekta)
                <h4 class="fs-subtitle">Kraj Projekta</h4>
                @Html.EditorFor(model => model.Projekat.KrajProjekta)
                <br />
                <br />
                <input type="button" name="previous" class="previous action-button-previous" value="Prethodno" />
                <input type="button" name="next" class="next action-button" value="Sljedece" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Nadlezni na projektu</h2>
                <h3 class="fs-subtitle">Unesite informacije on nadleznim osobama</h3>
                <h4 class="fs-subtitle">Odaberi investitora</h4>
                @Html.DropDownListFor(model => model.InvestitorId, Model.Investitor, new {@class= "form-control" })
                <h4 class="fs-subtitle">Odaberi nadleznu osobu</h4>
                @Html.DropDownListFor(model => model.KorisnikId, Model.Korisnik, new { @class = "form-control" })
                <br />
                <br />
                <input type="button" name="previous" class="previous action-button-previous" value="Prethodno" />
                <input type="button" name="next" class="next action-button" value="Sljedece" id="spremi" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Informacije o gradilistu</h2>
                <h3 class="fs-subtitle">Unesite informacije o gradilistu</h3>
                <h3 class="fs-subtitle">Grad</h3>
                @Html.EditorFor(model => model.Gradiliste.Grad)
                <h3 class="fs-subtitle">Opstina</h3>
                @Html.EditorFor(model => model.Gradiliste.Opstina)
                <h3 class="fs-subtitle">Postanski broj</h3>
                @Html.EditorFor(model => model.Gradiliste.PostanskiBroj)
                <h3 class="fs-subtitle">Adresa</h3>
                @Html.EditorFor(model => model.Gradiliste.Adresa)

                <br />
                <br />
                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Spremi" />
            </fieldset>
        }
    </div>
</div>
<!-- /.MultiStep Form -->

<script src="~/Scripts/feature/multiStepProjekat.js"></script>
