@model Gradnik_Web.Areas.ModulSefGradilista.Models.NarudzbaDetaljiViewModel

@Html.DropDownListFor(model => model.DobavljaciId, Model.Dobavljaci,
                       new { @class = "form-control", @id = "dobavljacId" })

@Html.DropDownListFor(model => model.SkladisteId, Model.Skladiste,
                       new { @class = "form-control", @id = "skladisteId" })

@Html.HiddenFor(model => model.Id, new { @id = "narudzbaId" })


<table class="table table-hover table-bordered" id="narudzbeDetalji">
    <thead>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Id</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Naziv</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Kolicina</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Cijena</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Stavke.Count; i++)
        {
            <tr class="odd gradeX">
                <td>@Model.Stavke[i].MaterijalId</td>
                <td>@Model.Stavke[i].Naziv</td>
                <td>@Model.Stavke[i].Kolicina</td>
                <td><input type="text" id="cijena@(i)" value="1" /></td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Naziv</th>
            <th>Kolicina</th>
            <th>Cijena</th>
        </tr>
    </tfoot>
</table>
<button class="btn btn-success" id="procesiraj">Procesiraj</button>
<button class="btn btn-success" id="otkazi">Otkazi</button>

<script>
    var narudzbaList = [];
    $(document).ready(function () {
        var table = $('#narudzbeDetalji').DataTable();

        $('#procesiraj').click(function () {
            for (var i = 0; i < table.data().length; i++) {
                narudzbaList.push({
                    materijalId: table.data()[i][0],
                    kolicina: table.data()[i][2],
                    cijena: parseFloat($('#cijena' + i).val())
                });
            }

            $.ajax({
                type: 'POST',
                url: '/ModulReferent/Narudzba/Procesiraj',
                data: JSON.stringify({
                    stavke: narudzbaList,
                    dobavljacId: $("#dobavljacId").val(),
                    skladisteId: $("#skladisteId").val(),
                    narudzbaId: $("#narudzbaId").val(),
                }), // our data object
                contentType: 'application/json',
            })
                // using the done promise callback
                .done(function (data) {
                    window.location.replace("/ModulReferent/Narudzba/AktivneNarudzbe");
                });
            event.preventDefault();
        });
    });

</script>