@model Gradnik_Web.Areas.ModulDirektor.Models.InActiveWorkInfo
 @using Gradnik_Web.Areas.ModulDirektor.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
   
        @foreach (WorkInfoRow item in Model.inactiveWorkInfos)
        {

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("Gradilište : ") @item.workareaName
                    </dt>



                    <dt>
                        @Html.DisplayName("Pozicija : ") @item.jobtitle
                    </dt>


                    <dt>
                        @Html.DisplayName("Početak : ") @item.startDate.ToString("dd.MM.yyyy")
                    </dt>


                    <dt>
                        @Html.DisplayName("Odrađeni sati : ") @item.hours.ToString()
                    </dt>


                </dl>


            </div>
        }
          

</body>
</html>
