@model IEnumerable<Gradnik_Data.Models.Radnici>
@using Gradnik_Data.Models
<table class="table table-hover table-bordered" id="table-1">
    <thead>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Ime i Prezime</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Datum rođenja</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">JMBG</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Kontakt telefon</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Email</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Grad</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="odd gradeX">
                <td>@item.Ime (@item.ImeRoditelja) @item.Prezime</td>
                <td>@item.DatumRodjenja.ToString("dd.MM.yyyy")</td>
                <td>@item.JMBG</td>
                <td>@item.KontaktTelefon</td>
                <td>@item.Email</td>
                <td>@item.Grad</td>
                <td>
                    @Ajax.ActionLink("Uredi", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", OnSuccess = "otvoriDialog" }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Detalji", "Detalji",new {id = item.Id }, new { @class = "btn btn-info" })
                </td>
            </tr>

        }

    </tbody>
    <tfoot>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Ime i Prezime</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Datum rođenja</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">JMBG</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Kontakt telefon</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Email</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Grad</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Akcija</th>
        </tr>
    </tfoot>
</table>

<div>

    @Html.ActionLink("Dodaj novog radnika", "Add", null, new { @class = "btn btn-success" })

</div>


<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ajaxDialog"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function otvoriDialog() {
        $('#basicModal').modal();
    }

    $(document).ready(function () {
        $('#investitoriTabela').DataTable();
    });
</script>