@model IEnumerable<Gradnik_Data.Models.Radnici>
@using Gradnik_Data.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<table class="table table-hover table-bordered" id="table-1">
    <thead>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Ime i Prezime</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Datum rođenja</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">JMBG</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Kontakt telefon</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Email</th>
          




        </tr>
    </thead>
    <tbody>
        @foreach (Radnici item in Model)
        {
            <tr class="odd gradeX"  onclick="location.href = '@(Url.Action("Profile", "Radnici", new { id = item.Id }))'">
                    @if (item.ImeRoditelja != null)
                    {
                        <td>@item.Ime (@item.ImeRoditelja) @item.Prezime</td>
                    }
                    else
                    {
                        <td>@item.Ime  @item.Prezime</td>
                    }
               
                <td>@item.DatumRodjenja.ToString("dd.MM.yyyy")</td>
                <td>@item.JMBG</td>
                <td>@item.KontaktTelefon</td>
                <td>@item.Email</td>

                </tr>

                }
        




</tbody>
    <tfoot>
        <tr>            
            <th>Ime i Prezime</th>
            <th>Datum rođenja</th>
            <th>JMBG</th>
            <th>Kontakt telefon</th>
            <th>Email</th>
        </tr>
    </tfoot>
</table>

<div>

    @Html.ActionLink("Novi unos", "Add", null, new { @class = "btn btn-blue" })
    @*<button type="button" class="btn btn-default btn-icon icon-left">
            <i class="entypo-user-add"></i>
        </button>*@
</div>





<script type="text/javascript">
    function otvoriDialog() {
        $('#basicModal').modal();
    }
</script>



<script type="text/javascript">
    var responsiveHelper;
    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };
    var tableContainer;

    jQuery(document).ready(function ($) {

        tableContainer = $("#table-1");

        tableContainer.dataTable({
            "sPaginationType": "bootstrap",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bStateSave": true,


            // Responsive Settings
            bAutoWidth: false,
            fnPreDrawCallback: function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper) {

                    responsiveHelper = new ResponsiveDatatablesHelper(tableContainer, breakpointDefinition);
                }
            },
            fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                responsiveHelper.createExpandIcon(nRow);
            },
            fnDrawCallback: function (oSettings) {
                responsiveHelper.respond();
            }
        });


        $(".dataTables_wrapper select").select2({
            minimumResultsForSearch: -1
        });
    });
</script>

