@model Gradnik_Web.Areas.ModulAdmin.Models.MaterijaliDodajVM

@{
    ViewBag.Title = "Uredi";
    Layout = null;
}


    @using (Html.BeginForm("Spremi","Materijali")) 
    {
        @Html.AntiForgeryToken()

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title" id="myModalLabel">Uredi</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                @Html.HiddenFor(model=>model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
                    </div>
                </div>

                
            </div>

        </div>

  





                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Zatvori</button>
                    <input type="submit" value="Snimi" class="btn btn-danger" />
                </div>
    }


