@model IEnumerable<Gradnik_Data.Models.Projekti>

<table class="table" id="aktivniProjekti">
    <thead>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">
                @Html.DisplayName("Pocetak Projekta")
            </th>
            <th style="background-color:rgb(48, 54, 65); color:white;">
                @Html.DisplayName("Kraj Projekta")
            </th>
            <th style="background-color:rgb(48, 54, 65); color:white;">
                @Html.DisplayName("Investitor")
            </th>
            <th style="background-color:rgb(48, 54, 65); color:white;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PocetakProjekta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KrajProjekta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Investitor.Naziv)
                </td>
                <td>
                    @Html.ActionLink("Dodaj dokumentaciju", "Dokumentacija", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#aktivniProjekti').DataTable();
    });
</script>
