@model IEnumerable<Gradnik_Data.Models.Korisnici>
@using Gradnik_Data.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<table class="table table-hover table-bordered" id="korisniciTable">
    <thead>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Ime i Prezime</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Korisničko ime</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Akcija</th>


        </tr>
    </thead>
    <tbody>
        @foreach (Korisnici item in Model)
        {

            <tr class="odd gradeX">
                <td>@item.Ime @item.Prezime</td>
                <td>@item.KorisnickoIme</td>
                <td>
                    @Ajax.ActionLink("Detalji", "Details", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", OnSuccess = "otvoriDialog" }, new { @class = "btn btn-success btn-sm entypo-info" })

                    @Ajax.ActionLink("Uredi", "Uredi", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", OnSuccess = "otvoriDialog" }, new { @class = "btn btn-info btn-sm entypo-pencil" })
                    @Html.ActionLink("Obriši", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm entypo-cancel", onclick = "return confirm('Da li ste sigurni da želite izbrisati odabranog korisnika ?')" })

                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Ime i Prezime</th>
            <th>Korisničko ime</th>
            <th>Akcija</th>

        </tr>
    </tfoot>
</table>

<div>
    @Html.ActionLink("Dodaj novog korisnika", "Dodaj", null, new { @class = "btn btn-success" })
</div>



<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ajaxDialog"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function otvoriDialog() {
        $('#basicModal').modal();
    }

    $(document).ready(function () {
        var table = $('#korisniciTable').DataTable();
    });
</script>

<style>
    .modal-dialog {
        width: 900px
    }
</style>