@model IEnumerable<Gradnik_Data.Models.Izlaz>


<table class="table table-hover table-bordered" id="procesiraniIzlazi">
    <thead>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Datum kreiranja</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Skladiste</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Gradiliste</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="odd gradeX">
                <td>
                   @item.DatumKreiranja.ToString("dd/MM/yyyy")</td>
                <td>@item.Skladiste.Naziv</td>
                <td>@item.Gradiliste.Grad - @item.Gradiliste.Adresa</td>
                <td>
                    @Ajax.ActionLink("Detalji", "Detalji", new { id = item.Id },
                                        new AjaxOptions { UpdateTargetId = "ajaxDialog", OnSuccess = "otvoriDialog" }, new { @class = "btn btn-success btn-sm entypo-info" })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="background-color:rgb(48, 54, 65); color:white;">Datum kreiranja</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Skladiste</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Gradiliste</th>
            <th style="background-color:rgb(48, 54, 65); color:white;">Akcija</th>
        </tr>
    </tfoot>
</table>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ajaxDialog"></div>
        </div>
    </div>
</div>

<script>
    function otvoriDialog() {
        $('#basicModal').modal();
    }

    $(document).ready(function () {
        var table = $('#procesiraniIzlazi').DataTable();
    });
</script>


