@model IEnumerable<Gradnik_Data.Models.Gradiliste>

<table class="table" id="gradilistaTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Naziv projekta")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opstina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostanskiBroj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Projekti.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opstina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostanskiBroj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.ActionLink("Dodaj radnika", "Dodaj", "RaspodjelaPosla", new { gradilisteId = item.Id, area = "ModulSefGradilista" }, null) |
                    @Html.ActionLink("Evidentiraj radno vrijeme", "Evidentiraj", "RaspodjelaPosla", new { gradilisteId = item.Id, area = "ModulSefGradilista" }, null)
                    @Ajax.ActionLink("Dodaj Utroseni Materijal", "UtrosakMaterijala", new { id = item.Id },
                        new AjaxOptions { UpdateTargetId = "ajaxDialog", OnSuccess = "otvoriDialog" }, new { @class = "btn btn-success btn-sm entypo-info" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ajaxDialog"></div>
        </div>
    </div>
</div>
<script>
    function otvoriDialog() {
        $('#basicModal').modal();
    }
    $(document).ready(function () {
        $('#gradilistaTable').DataTable();
    });
</script>
